.note {
  font-style: italic;
  font-size: .9em;
  color: $button-text-color;
}

.left {
  width: 50%;
  float: left;
  padding-left: 2.5em;
  text-align: center;
}

.right {
  width: 50%;
  float: right;
  padding-right: 2.5em;
  padding-top: 2em;
  text-align: center;
}

.home-screen {
  margin-top: 10em;
}

#logo {
  margin-top: 1em;
  max-width: 100%;
}

.clickable-area {
  text-decoration: none;
}

.no-space {
  margin-bottom: .3em;
}