* {
  box-sizing: border-box;
}

body {
  background: #3a4b55;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  line-height: 2em;
  width: 100%;
  max-width: 800px;
  min-width: 555px;
  margin: 0 auto;
}

header {
  margin-bottom: 5em;
}

nav {
  text-align: right;
}

article {
  border-bottom: 1px dotted #b0b7ac;
}

article:hover {
  background-color: #435662;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 1em;
}

.no-space {
  margin-bottom: .3em;
}

h1 {
  font-size: 5em;
}

h2 {
  color: #b9c899;
  font-size: 2em;
}

h2 a {
  text-decoration: none;
  color: white;
}

h2 a:hover {
  color: #b9c899;
}

h3 {
  color: #b0b7ac;
  font-size: 1.1em;
  line-height: 2em;
}

img {
  display: inline-block;
}

li {
  letter-spacing: 0px;
}

ul.links li {
  display: inline-block;
  list-style: none;
  padding-right: 2em;
}
ul.links li a {
  color: #b0b7ac;
  text-decoration: none;
}
ul.links li a:hover {
  color: white;
}

p, ul {
  margin-bottom: 1em;
  letter-spacing: 1px;
  padding: 0;
  list-style-position: inside;
}

a {
  color: #b9c899;
  text-decoration: underline;
  letter-spacing: 2px;
}

a:hover {
  color: white;
  text-decoration: none;
}

button {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background: none repeat scroll 0 0 #b9c899;
  border: medium none;
  color: #eeeeee;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  height: 3em;
  width: 10em;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-right: 1em;
}

button:hover {
  background-color: #435662;
}

::selection {
  background: #b9c899;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-6e8e29");
  src: url("../fonts/icomoon.eot?#iefix-6e8e29") format("embedded-opentype"), url("../fonts/icomoon.woff?-6e8e29") format("woff"), url("../fonts/icomoon.ttf?-6e8e29") format("truetype"), url("../fonts/icomoon.svg?-6e8e29#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e600";
}

.icon-minus:before {
  content: "\e601";
}

.icon-pencil:before {
  content: "\e602";
}

input[type=text] {
  font-size: 2em;
  height: 2em;
  width: 100%;
  background-color: #3a4b55;
  border: 1px solid #b0b7ac;
  color: #b0b7ac;
}

fieldset {
  margin: 0 0 20px 0;
  font-size: 14px;
  border: none;
  padding-left: 0;
}

fieldset label {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold;
  color: #b0b7ac;
  font-size: 2em;
}

fieldset textarea {
  display: block;
  width: 50%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #b0b7ac;
  background: #3a4b55;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.showOnSmall {
  display: none;
}

.note {
  font-style: italic;
  font-size: .9em;
  color: #eeeeee;
}

.left {
  width: 50%;
  float: left;
  padding-left: 2.5em;
  text-align: center;
}

.right {
  width: 50%;
  float: right;
  padding-right: 2.5em;
  padding-top: 2em;
  text-align: center;
}

.hideOnInit {
  display: none;
}

#logo {
  margin-top: 1em;
  max-width: 100%;
}

@media handheld, only screen and (max-width: 575px) {
  body {
    max-width: 575px;
    margin: 0 auto;
    overflow: hidden;
  }

  .main {
    margin-top: 1em;
    margin-bottom: 1.5em;
  }

  .hideOnSmall {
    display: none;
  }

  .showOnSmall {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }

  .showOnSmall a {
    margin-top: 0;
  }
}
