<h1>About</h1>

<h2>My name is VocabBuilderApp and I can help you learn.</h2>

<p>
  I provide a way test yourself against a list of words and definitions that <strong>you</strong> create.  Say you are reading a book and come across a word that you don’t know.  Simply put it on a list.  At some point, fill in the definition.  Soon, you’ll have a pragmatic list of vocab words that you can quiz yourself on.  Goodbye preset vocab lists of words you’ve never even heard.  Hello improved vocabulary!
</p>

<p>
  The quiz works as follows.  I randomly select from your carefully curated list of words, the challenge is on.  Look at the word, think of the definition. Check yourself by showing the definition.  If you nailed it, click correct and I won’t choose that word again for this quiz.  If you stumbled, the word goes back in the pile.
</p>

<p>
  I'm a very effective way to learn a list of words.  I'm just like flashcards, but always with you.  Carrying a stack of flashcards is so 1999.
</p>

<h2>
  But wait, I can do more!
</h2>

<h3>
  Are you trying to learn a new language?  Say, for example, German.
</h3>

<ul>
  <li><strong>Word:</strong> The Moon </li>
  <li><strong>Definition:</strong> Der Mond</li>
</ul>

<h3>How about dates in history?  I’m great for that too.</h3>

<ul>
  <li><strong>Word:</strong> Monty Python’s Holy Grail Release Date?</li>
  <li><strong>Definition:</strong> March 14, 1975.</li>
</ul>

<footer>
  {{debugger}}
  Copyright {{currentYear}} - <a href="http://www.enlightenedpixel.com">An EnlightenedPixel Creation</a>
</footer>
