<header>
  <nav>
    <ul class="links">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'lists'}}Word Lists{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </nav>
</header>
{{outlet}}

<footer>
  Copyright 2015 - <a href="http://www.enlightenedpixel.com">An EnlightenedPixel Creation</a>
</footer>