<div class="homeScreen" style="margin-top: 10em;">
  <div class="left">
    <img id="logo" src="/images/logo.png" alt="Slovnik - Vocabulary Builder Logo">
  </div>
  <div class="right">
    <div>
      <button {{action 'lists'}}>Word Lists</button>
    </div>
    <div>
      <button {{action 'about'}}>About</button>
    </div>
  </div>
</div>