<h1>Word Lists</h1>
{{#link-to 'list.new'}}Create New Word List{{/link-to}}
{{#each}}
<article>
  <h2>{{#link-to 'list.show' this}}{{title}}{{/link-to}}</h2>
  <p class="note">{{description}}</p>
</article>
{{else}}
<p>You have not yet created a list.</p>
{{/each}}